@theme {
    /* Fonts */
    --font-sans: sans-serif;
    --font-mono: monospace;

    /* Text sizes */
    --text-step-0: 0.85rem;
    --text-step-1: 1.00rem;
    --text-step-2: 1.25rem;
    --text-step-3: 1.50rem;
    --text-step-4: 1.75rem;

    /* Spacing */
    --spacing-body:    140ch;
    --spacing-default: 1rem;
    --spacing-double:  calc(var(--spacing-default)*2);
    --spacing-triple:  calc(var(--spacing-default)*3);
    --spacing-half:    calc(var(--spacing-default)/2);
    --spacing-quarter: calc(var(--spacing-default)/4);

    --leading-default: 1.50;
    --leading-code:    1.40;

    /* Colors */
    --color-fg:                   #222222;
    --color-heading:              #000000;
    --color-base:                 #ffffff;
    --color-accent:               #0969da;
    --color-highlight:            #d7d9e2;
    --color-highlight-muted:      #f7f8fb;

    --color-fg-dark:              #c4cbd3;
    --color-fg-muted-dark:        #5f646a;
    --color-heading-dark:         #f0f3f6;
    --color-base-dark:            #1b2026;
    --color-accent-dark:          #6fa8dc;
    --color-highlight-dark:       #2a313a;
    --color-highlight-muted-dark: #1f252b;
}
