<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
        <link rel="icon" href="favicon.jpg" type="image/jpeg">
        <link rel="preload" href="/assets/fonts/noto-serif-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/assets/fonts/noto-sans-v39-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
        <title>{{ title or "Gene Marks" }}</title>
    </head>
    <body class="flex justify-center bg-background text-secondary font-serif">
        <div class="w-full max-w-6xl">
            {{ content | safe }}
        </div>
    </body>
</html>
