<!doctype html>
<html lang="en">
    <head>
        <script>
            function applyTheme() {
                document.documentElement.classList.toggle(
                    "darkmode",
                    localStorage.theme === "dark" ||
                    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
                );
            }

            applyTheme();
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ metadata.siteDesc }}">
        <link rel="stylesheet" href="/assets/css/main.css?v={{ build.version }}">
        <link rel="icon" href="/favicon.jpg" type="image/jpeg">
        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.siteName }} Feed">
        <title>{{ title + ' - ' + metadata.siteName if title else metadata.siteName }}</title>
    </head>

    <body class="px-default pt-half pb-double leading-default text-step-1 text-fg dark:text-fg-dark font-sans bg-base dark:bg-base-dark">
        <div class="flex flex-col max-w-body w-full mx-auto">
            {% include "partials/header.html" %}

            <main>
                {{ content | safe }}
            </main>

            {% include "partials/footer.html" %}
        </div>
    </body>
</html>
