---
layout: layouts/default.html
---

<div class="flex justify-center items-end mt-8 mx-3 h-[58px] bg-header border-3 border-double lg:mx-0 sm:justify-between">
    <h1></h1>
    <a href="/">
        <img src="/assets/images/logo.png" alt="gene marks" class="border-double hover:-hue-rotate-15 hover:brightness-90 sm:border-r-3" style="image-rendering: pixelated">
    </a>

    <div class="hidden w-[80px] sm:block">
        <noscript>
            <img src="/assets/images/gene_sprites/5.gif" class="drop-shadow-md" style="-mt-12 image-rendering: pixelated; filter: drop-shadow(12px 0px 0px rgba(0, 0, 0, 0.2));">
        </noscript>
        <img id="gene-sprite" class="drop-shadow-md" style="image-rendering: pixelated; filter: drop-shadow(12px 0px 0px rgba(0, 0, 0, 0.2));">
    </div>
</div>
