---
layout: layouts/default.html
---


<div class="mb-8 font-secondary">
    <h1 class="px-2 text-heading bg-postheaderbg text-postheadertext font-bold">{{ title }}</h1>
    <div class="px-2 py-1 italic text-sub text-postdatetext bg-postdatebg">{{ page.date | formatPostDate }}</div>
</div>

<div class="blogpost text-posttext">
    {{ content | safe }}
</div>

<div class="px-2 font-secondary text-sub text-postdatetext bg-postdatebg italic">Modified {{ modified | formatDetailedDateTime }}</div>

{% set posts = collections.post %}
{% set previous = posts | getPreviousCollectionItem %}

{% if previous %}
<nav class="mt-4 font-secondary">
    <a class="w-full text-primarylink underline hover:text-primarylinkhover hover:bg-primarylinkhoverbg" href="{{ previous.url }}">>{{ previous.data.title }}</a>
</nav>
{% endif %}
