---
layout: layouts/default.html
---

<article data-pagefind-body>
    <h2 data-pagefind-meta="title">{{ title }}</h2>
    <div class="mt-half">
        <time datetime="{{ created | toIsoDateTime }}" class="italic">{{ created | formatPostCreatedDate }}</time>
    </div>

    {% set postTags = tags | exclude('post') %}

    {% if postTags %}
        <div>
            {%- for tag in postTags -%}
                <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>{{ ', ' if not loop.last }}
            {%- endfor -%}
        </div>
    {% endif %}

    {{ content | safe }}

    <div class="mt-double">
        <time datetime="{{ page.date | toIsoDateTime }}" class="italic">Modified {{ page.date | formatPostModifiedDate }}</time>
    </div>
</article>

{% set posts = collections.postsByCreated %}
{% set next = posts | getNextCollectionItem %}

{% if next %}
    <nav>
        <span>Next: <a href="{{ next.url }}">{{ next.data.title }}</a></span>
    </nav>
{% endif %}

{% include "partials/comments.html" %}
