/* Source Sans 3 */
@font-face {
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url("/assets/fonts/source_sans_3-5.2.9-latin-wght-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url("/assets/fonts/source_sans_3-5.2.9-latin-wght-italic.woff2") format("woff2");
}

/* Cascadia Code */
@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/assets/fonts/cascadia_code-2407.24.woff2") format("woff2");
}

@font-face {
    font-family: "Cascadia Code";
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
    src: url("/assets/fonts/cascadia_code-2407.24-italic.woff2") format("woff2");
}
