.shiki code { @apply flex flex-col; }
.shiki .line { @apply px-3; }

.shiki {
    counter-reset: step;
    counter-increment: step 0;
}

.shiki .line:not(:last-child)::before {
    counter-increment: step;
    @apply inline-block mr-4 w-[2ch] text-right opacity-40 content-[counter(step)];
}

/* .shiki .indent:nth-child(even) { @apply invisible; } */
.shiki .indent { @apply inline-block relative left-(--indent-offset); }
.shiki .indent:empty { @apply h-lh align-bottom; }
.shiki .indent::before { @apply absolute w-px h-full opacity-[0.10] bg-current content-['']; }

.darkmode .shiki, .darkmode .shiki span { @apply text-(--shiki-dark)! bg-(--color-code-block-bg)!; }

body .shiki .highlighted, .shiki .highlighted span { @apply bg-code-block-line-highlight!; }
body .shiki .line:not(.highlighted):hover,
body .shiki .line:not(.highlighted):hover span { @apply bg-code-block-line-hover!; }
