/* Cascadia Code */
@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../fonts/cascadia_code-2407.24.woff2") format("woff2");
}

@font-face {
    font-family: "Cascadia Code";
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
    src: url("../fonts/cascadia_code-2407.24-italic.woff2") format("woff2");
}
