@theme {
    /* Fonts */
    --font-primary: "Source Sans 3", sans-serif;
    --font-secondary: "Cascadia Code", sans-serif;

    /* Text sizes */
    --text-normal:  clamp(1.15rem, 1.093rem + 0.229vw, 1.35rem);
    --text-heading: clamp(1.35rem, 1.307rem + 0.171vw, 1.5rem);
    --text-sub:     clamp(1.05rem, 0.993rem + 0.229vw, 1.25rem);

    /* Colors */
    --color-headertext:         #ffffff;
    --color-headertexthover:    #ffff00;
    --color-headerbg:           #000081;
    --color-headerborder:       #ffffff;

    --color-bodybg:             #c0c0c0;

    --color-primarytext:        #000000;
    --color-primarylink:        #000081;
    --color-primarylinkhover:   #ffffff;
    --color-primarylinkhoverbg: #000081;

    --color-footertext:         #3d3d3d;
    --color-footerlink:         #3d3d3d;
    --color-footerlinkhover:    #c2c2c2;
    --color-footerlinkhoverbg:  #545454;
    --color-footerbg:           #ababab;

    --color-posttext:           #2d2d2d;
    --color-postheadertext:     #000000;
    --color-postheaderbg:       #ababab;
    --color-postdatetext:       #000000;
    --color-postdatebg:         #b9b9b9;
    --color-postsubheadertext:  #ffffff;
    --color-postsubheaderbg:    #000081;
    --color-postquoteborder:    #000000;
    --color-postcodetext:       #000000;
    --color-postcodebg:         #ababab;
    --color-postcodeborder:     #000000;
    --color-postcodesniptext:   #3d3d3d;
    --color-postcodesnipbg:     #ababab;
}
