<script data-isso="//{{ metadata.issoHost }}/"
        data-isso-lang="en"
        data-isso-max-comments-top="inf"
        data-isso-max-comments-nested="inf"
        data-isso-sorting="newest"
        data-isso-vote="true"
        data-isso-avatar="true"
        data-isso-css="false"
        data-isso-page-author-hashes="{{ metadata.issoAuthorHash }}"
        src="//{{ metadata.issoHost }}/js/embed.min.js"></script>

<section id="isso-thread"
         data-title="{{ title | escape }}"
         data-isso-id="{{ page.url }}"
         class="mt-double">
    <noscript>Please enable Javascript to view comments.</noscript>
</section>

<script>
    document.addEventListener("click", e => {
        if (!e.target.classList.contains("isso-comment-header")) return;

        const commentHeader = e.target;
        const commentRoot = commentHeader.parentElement.parentElement;
        const minimizedClass = "minimized";

        const plusIconClass = "isso-expand-icon";
        if (!commentHeader.firstElementChild?.classList.contains(plusIconClass)) {
            const plusIcon = document.createElement("span");
            plusIcon.innerHTML = "+";
            plusIcon.classList = plusIconClass;

            commentHeader.prepend(plusIcon);
        }

        commentRoot.classList.toggle(minimizedClass);
    });
</script>
