<header class="text-center mb-double">
    <h1 class="my-half">{{ metadata.siteName }}</h1>
    <nav class="flex flex-row justify-center flex-wrap gap-x-default gap-y-half sm:gap-x-double">
        <a href="/">Home</a>
        <a href="/blog/">Archive</a>
        <a href="/feed.xml">Feed</a>
        <a href="mailto:{{ metadata.authorEmail }}">Email</a>
        <a href="{{ metadata.authorGithub }}">GitHub</a>

        {% include "partials/themeToggle.html" %}
    </nav>

    {% include "partials/search.html" %}
</header>
