---
title: Netmash
link: https://github.com/GeneMarks/netmash
status: active
language: C#
desc: Simple yet flexible website builder that lets you create unique pages using plain text and folders.
---
